
.container{
    position: fixed;
    height: 85vh;
    top: 15vh;
    width: 100vw;
}

.controlos {
    position: absolute;
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.divcontrolo{
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
}

.controlos button{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 2px solid white;
    background-color: black;
    outline: none;
    margin: 5px 0px;
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
    transition: 1s;
}

.controlos button:nth-child(1){
    background-color: white;
    color: black;
}

.aplicacao {
    position: absolute;
    left: 20vw;
    width: 400vw;
    min-height: 100vh;
    display: flex;
}

.content {
    position: relative;
    width: 400vw;
    min-height: 100%;
    overflow: hidden;
    display: flex;
}

.painel {
    background-color: white;
    position: relative;
    width: 80vw;
    height: 100%;
    transition: 2.5s;
}

.dados_usuario{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    border: 2px solid black;
}

.dados_usuario p {
    width: 100%;
    height: 20px;
    font-size: 2rem;
    color: black;
    font-weight: lighter;
    padding-left: 30px;
    margin: 20px 0px;
}

.opcaoUsuario {
    position: absolute;
    left: 0;
    top: 250px;
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcaoUsuario .forms {
    width: 180px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
}

.opcaoUsuario .forms button {
    font-weight: bolder;
    color: black;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

.formulario {
    position: absolute;
    top: 10px;
    left: 500px;
    display: none;
    width: 275px;
    min-height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
.inputs:nth-child(1){
    margin-top: 70px;
}

.inputs {
    position: relative;
    width: 80%;
    height: 50px;
    margin: 10px 0px 0px 10%;
}

.inputs label {
    position: absolute;
    top: -20px ;
    left: 10px;
    font-weight: bolder;
}

.inputs input {
    width: 100%;
    height: 30px;
    outline: none;
    border: 2px solid black;
    color: black;
    font-size: 1.2rem;
    padding-left: 20px ;
}

.formulario input[type="submit"]{
    margin-left: 10%;
    width: 115px;
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    background-color: white;
}


.containerOptions .otherforms {
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
}

.containerOptions .otherforms button {
    font-weight: bolder;
    color: black;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 1.0rem;
    cursor: pointer;
}
.containerOptions{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


table{
    margin: 10px auto 5px auto;
    border-collapse: collapse;
}
tr ,td{
    border-bottom: 1px solid black;
    color: #000;
    font-weight: 500;
}

 thead th {
    text-align: center;
    border-top: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

td,th {
    width:180px ;
    height: 30px;
    font-size: .9rem;
    padding-inline:10px;
    text-align: center;
    text-transform: capitalize;
}

td {
    font-style: oblique;
    font-weight: 600;

}

.formularios{
    position: absolute;
    display: none;
    width: 275px;
    min-height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    top: 20px;
    left: 350px;
}


.formularios input[type="submit"]{
    margin-left: 10%;
    width: 115px;
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    background-color: white;

}

.formcasa{
    position: absolute;
    display: none;
    width: 275px;
    min-height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    top: 20px;
    left: 350px;
}

.formcasa input[type="submit"]{
    margin-left: 10%;
    width: 115px;
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    background-color: white;

}