<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas</title>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/casas.css">
    <link rel="stylesheet" href="/css/pesquisa.css">
    <script defer src="/js/pesquisa.js"></script>
    <script src="/js/casas.js"></script>
</head>
<body>
    
    <header>
        <nav class="header">
            <div class="logo">
                <img src="/img/logos/logo (1).png" alt=""><span>ADVI</span>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/marcacoes">Voos</a></li>
                <li><a href="/hotel" >Hoteis</a></li>
                <li><a href="/carros">Carros</a></li>
                <li><a href="/casas">Casas</a></li>
                <li><a href="#sobre_nos">Sobre Nós</a></li>
            </ul>
        </nav>
        <div class="info">
            <p>Encontre casas da sua Preferencia</p>
            <p>Lugares confortáveis , bonitos em qualquer lugar do globo !</p>
        </div>

    </header>
    <main>

        
        <form class="search_hotel" action="/Buscarcasas" method="post">
            <div>
                <input type="text" name="lugar" placeholder="Pesquise um lugar (país)">
             </div>
            <div>
                <input type="submit" value="Buscar" class="procurar">
            </div>
        </form>
        
            <% if(casas == null || casas == 0){%>
            <p></p>
             <%} else {%>
        <div class="carros">
                <table>
                     <thead>
                         <th>numero</th>
                         <th>País</th>
                         <th>Cidade</th>
                         <th>Preço mensal ($)</th>
                         
                     </thead>
                     <tbody>
                         <% casas.forEach(function(dado){ %>
                             <tr>
                                 <td><%- dado.id %></td>
                                 <td><%- dado.pais %></td>
                                 <td><%- dado.cidade %></td>
                                 <td><%- dado.preco%></td>
                             </tr>
                         <%});%>
                     </tbody>
                 </table>
                 <button class="alugar">Alugar</button>    
             <%};%>
             <form action="/alugarcasas" method="post" class="esconderForm formulario">
                 <input type="number" required placeholder="Numero do Casa" name="idcasa">
                 <input type="date" required placeholder="Data de Reserva" name="data_reserva">
                 <input type="number" required placeholder="Numero de Dias" name="num_dias">
                 <input type="submit" value="Efectuar Aluguer" class="efectuarAluguer">
             </form>
         </div> 
        <div class="text">
            <p> Casas Modernas e Bonitas </p>
        </div>
        <div class="container">    
            <div class="container1">
                <div class="main_container">
                    <div class="container_imagem">
                        <img class="imagem_click" src="/img/casas/autumn-2021154_1920.jpg" alt="">
                    </div>
                </div>    
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/casa (2).jpg" alt="">
                    </div>
                </div>
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/casa (1).jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container2">
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/house-1867187_1280.jpg" alt="">
                    </div>
                </div>
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/mountains-1587287_1920.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container3">
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/autumn-2021154_1920.jpg" alt="">
                    </div>
                </div>
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/casa (1).jpg" alt="">
                    </div>
                </div> 
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/casa (2).jpg" alt="">
                    </div>
                </div>
                <div class="main_container">
                    <div class="container_imagem">
                        <img src="/img/casas/house-1867187_1280.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="rodape">
            <div class="describe_text" id="sobre_nos" >
                <p> ADVI Agência de Viagens Internacionais </p>
                <div>
                    ADVI  é uma empresa público ao dispor de todo aquele que quiser
                    pagar pelo nossos serviços tendo garantias de conforto, segurança e melhor preço disponível.
                    Viage connosco
                </div>    
            </div>
            <div class="services_informations">
                <div>
                    <p>Informação</p>
                    <ul>
    
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contacte - nos</a></li>
                        <li><a href="#">Caracterísiticas</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <p>Localização</p>
                    <ul>
                        <li><a href="#">Europa</a></li>
                        <li><a href="#"> Asia</a></li>
                        <li><a href="#">America</a></li>
                        <li><a href="#">Africa</a></li>
                    </ul>
                </div>
                <div>
                    <p>Serviços de Transporte</p>                    
                    <ul>
                        <li><a href="#">Alimentos</a></li>
                        <li><a href="#">Carros</a></li>
                        <li><a href="#">Equipamentos informáticos</a></li>
                        <li><a href="#">Viagens Particulares</a></li>    
                    </ul>
                </div>
                <div>
                    <p>Blog</p>
                    <ul>    
                        <li><a href="#">Licença</a></li>
                        <li><a href="#">Converse connosco</a></li>
                        <li><a href="#">Informações</a></li>
                        <li><a href="#">Acessória</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy">
            <div>
                <p> 2024 &copyCopyright ADVI</p>
                <p> Política Prividade no uso de Cookies e conditions </p>
            </div>
            <figure class="redes_sociais">
                <img src="/img/icones/icons8-linkedin-48.png" alt="Imagem Linkedin">
                <img src="/img/icones/icons8-telegram-app-48.png" alt="Imagem telegram">
                <img src="/img/icones/icons8-whatsapp-48.png" alt="Imagem Whatsaap" >
                <img src="/img/icones/icons8-twitterx-60.svg" alt="Imagem Do Twitter X">
            </figure>   
       </div>
    </footer>
</body>
</html>