<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperção de Senhas</title>
    <link rel="stylesheet" href="/css/senhas.css">
</head>
<body>
    <h1> Passe o seu email para receber a sua senha e nome de usuário</h1>    
    <form action="/Recuperarsenhas" method="post">
        <input type="email" name="email" placeholder="Seu Email">
        <input type="submit" value="Enviar">
    </form>

</body>
</html>