<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>

    <div class="container">
        <form action="/cadastrar" method="post">
            
            <h2>Cadastro</h2>
            <div class="inputs">
                <input type="text"  name="nome" required>
                <label for="">Nome</label>
            </div>
            
            <div class="inputs">
                <input type="text" name="bi" required>    
                <label for="">Bilhete de Identidade</label>
                </div>
            <div class="inputs">
                <input type="date" min="2024-05-30"  max="2099-12-31" name="dataNasc"  placeholder=" " required value="  ">
                <label for="">Data de Nascimento</label>
            </div>
            <div class="inputs">
                <input type="text" name="formacao" required>
                <label for="">Curso de Formação</label>
            </div>
            <div class="inputs">
                <input type="number" min="0" name="workyears" required>     
                <label for="">Anos de Trabalho</label>
            </div>
              <div class="inputs">
                <input type="text" name="skills" required>
                <label for="">Competências Pessoais</label>
            </div>
            <div class="terms">
                <span><input type="checkbox" name="" id=""> Concordo com os termos e condições</span>
            </div>
            <button type="submit">
                <a>Cadastrar</a>
            </button>            
        </form>
    </div>
    





















    <!--
            <div class="form_content">
        <form  class="container" action="#" method="post">

            <h2>Cadastro</h2>
            <div class="inputs">
                <input type="text" required>
                <label for="">Nome</label>
            </div>
            
            <div class="inputs">
                <input type="text" required>    
                <label for="">Bilhete de Identidade</label>
            </div>
            <div class="inputs">
                <input type="date"  placeholder=" " required value="  ">
                <label for="">Data de Nascimento</label>
            </div>
            <div class="inputs">
                <input type="text" required>
                <label for="">Curso de Formação</label>
            </div>
            <div class="inputs">
                <input type="number" required>     
                <label for="">Anos de Trabalho</label>
            </div>
              <div class="inputs">
                <input type="text" required>
                <label for="">Competências Pessoais</label>
            </div>
            <div class="terms">
                <span><input type="checkbox" name="" id=""> Concordo com os termos e condições</span>
            </div>
            <button type="submit">
                <a href="index.html">Cadastrar</a>
            </button>
    </form>
    </div>
    -->

</body>
</html>